/* Universal styling */
* {
    margin: 0;
    padding: 0;
}

:root {
    --orchid:#d9b3ff;
    --cool:#ccffe6;
    --slate:#d9d9d9;
    --dark:#000000;
    --fun:#ff66cc;
    --mood:#9900cc;
}

.text-right {
    text-align: right;
}

html {
    font-size: 62.5%;
}

body {
    font-family: fantasy, -apple-system, BlinkMacSystemFont, 'Segoe UI', 
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.75rem;
    line-height: 1.5;
    color: var(--orchid);
    background-color: var(--slate);
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    flex: wrap-around;
    padding: 5%;
    color: var(--mood);
    background-image: url("/assets/images/images/background.png");
}

h1 {
    font-size: 200%;
    margin-top: 0;
    box-shadow: -5px -1px 12px 32px var(--slate);
    font-family: fantasy;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 10px;
}

header nav ul li {
    margin: 0 3px;
}