body {
    display: flex;
    flex-direction: column;
    line-height: 1.3;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
    background-color: black;
    color: thistle;
}

h1 {
    font-size: 200%;
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    list-style: none;
}

nav a {
    color: thistle;
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
}

nav a:hover {
    color: lavender;
}